
/* Подключение плагинов */
@import "plugin/mixins";

/* Работа с шрифтами */

@head: 'Arial';
@text: 'Arial';

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: @text;
  font-size: 13px;
}