@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
/* Подключение плагинов */
@import "plugin/peppermint.css";
@import "plugin/swiper.css";
.svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  fill: #000;
}
.gpu {
  will-change: transform, opacity;
}
.parent {
  zoom: 1;
}
.parent:before,
.parent:after {
  content: "";
  display: table;
}
.parent:after {
  clear: both;
}
.user {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Работа с шрифтами */
/* Ширина сайта */
/* Цвета */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  font-family: 'Arial';
  font-size: 13px;
  background-color: #f5f5f5;
  height: 5000px;
}
header .header-head {
  background-color: #f7f7f7;
  box-shadow: 0px 0px 15px -5px #543738;
  position: relative;
  z-index: 10;
}
header .header-head .header-head-wrapper {
  width: 1200px;
  margin: auto;
  height: 80px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
header .header-head .header-head-wrapper .header-head-wrapper-logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
header .header-head .header-head-wrapper .header-head-wrapper-logo .header-head-wrapper-logo-img {
  width: 38px;
  height: 36px;
  background-color: #543738;
  margin: auto 0;
  position: relative;
}
header .header-head .header-head-wrapper .header-head-wrapper-logo .header-head-wrapper-logo-img:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  content: '';
  width: 13px;
  height: 13px;
  border: 5px solid #fff;
  border-radius: 100%;
}
header .header-head .header-head-wrapper .header-head-wrapper-logo .header-head-wrapper-logo-data {
  display: block;
}
header .header-head .header-head-wrapper .header-head-wrapper-logo .header-head-wrapper-logo-data h1 {
  padding-top: 22px;
  padding-left: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header .header-head .header-head-wrapper .header-head-wrapper-logo .header-head-wrapper-logo-data h1 strong {
  display: block;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Open Sans';
  letter-spacing: 2px;
  position: relative;
  left: -2px;
}
header .header-head .header-head-wrapper .header-head-wrapper-logo .header-head-wrapper-logo-data h1 span {
  display: block;
  font-size: 9px;
  font-weight: normal;
  text-transform: uppercase;
  color: #666;
}
header .header-head .header-head-wrapper .header-head-wrapper-nav {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
header .header-head .header-head-wrapper .header-head-wrapper-nav a {
  display: inline-block;
  font-weight: bold;
  font-family: 'Open Sans';
  color: #000;
  padding: 0 5px;
  line-height: 80px;
  font-size: 13px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
header .header-head .header-head-wrapper .header-head-wrapper-contact {
  background-color: #945f1e;
  padding: 14px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header .header-head .header-head-wrapper .header-head-wrapper-contact .header-head-wrapper-contact-phone {
  text-align: center;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
header .header-head .header-head-wrapper .header-head-wrapper-contact .header-head-wrapper-contact-social {
  position: relative;
  text-align: center;
  padding-top: 7px;
}
header .header-head .header-head-wrapper .header-head-wrapper-contact .header-head-wrapper-contact-social svg {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  top: 3px;
  padding-right: 2px;
}
header .header-head .header-head-wrapper .header-head-wrapper-contact .header-head-wrapper-contact-social strong {
  display: inline-block;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: normal;
}
header .header-slider {
  background-color: #543738;
}
header .header-slider .peppermint figure {
  width: 100%;
  height: 680px;
  background-color: #543738;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
header .header-slider .peppermint figure .peppermint-data {
  max-width: 600px;
  margin: auto;
  text-align: center;
}
header .header-slider .peppermint figure .peppermint-data .peppermint-data-border {
  padding: 50px 0;
  position: relative;
}
header .header-slider .peppermint figure .peppermint-data .peppermint-data-border:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 240px;
  height: 1px;
  background-color: #875d26;
  content: '';
  z-index: 4;
}
header .header-slider .peppermint figure .peppermint-data .peppermint-data-border:before {
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  margin: auto;
  content: '';
  z-index: 5;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
header .header-slider .peppermint figure .peppermint-data .peppermint-data-border span {
  display: block;
  position: absolute;
  left: 35%;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
  font-size: 29px;
  line-height: 96px;
  z-index: 5;
  font-family: 'Open Sans';
  font-weight: 100;
}
header .header-slider .peppermint figure .peppermint-data .peppermint-data-border span:last-child {
  left: auto;
  right: 35%;
}
header .header-slider .peppermint figure .peppermint-data h2 {
  display: block;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
header .header-slider .peppermint figure .peppermint-data p {
  color: #fff;
  font-family: 'Open Sans';
  font-size: 19px;
  line-height: 32px;
}
/* Форма на главной */
.home-form {
  background-color: #fff;
  background: -webkit-linear-gradient(top, #fff, #f5f5f5);
  background: -moz-linear-gradient(top, #fff, #f5f5f5);
  background: -ms-linear-gradient(top, #fff, #f5f5f5);
  background: -o-linear-gradient(top, #fff, #f5f5f5);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
}
.home-form .home-form-wrapper {
  width: 1200px;
  margin: auto;
  padding: 50px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.home-form .home-form-head {
  font-size: 36px;
  font-family: 'Open Sans';
  text-align: center;
  display: block;
  line-height: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.home-form .home-form-wrapper-tabs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 60px 0;
}
.home-form .home-form-wrapper-tabs .home-form-wrapper-tabs-item {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.home-form .home-form-wrapper-tabs .home-form-wrapper-tabs-item svg {
  display: block;
  margin: auto;
  width: 68px;
  height: 68px;
}
.home-form .home-form-wrapper-tabs .home-form-wrapper-tabs-item strong {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 17px;
  color: #666;
  padding: 20px 20px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.home-form .home-form-wrapper-form {
  background-color: #fff;
  padding: 60px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.home-form .home-form-wrapper-form .home-form-wrapper-form-data {
  width: 35%;
  text-align: center;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.home-form .home-form-wrapper-form .home-form-wrapper-form-data h3 {
  font-family: 'Open Sans';
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  padding: 0 15px;
}
.home-form .home-form-wrapper-form .home-form-wrapper-form-data .home-form-wrapper-form-data-form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 20px;
}
.home-form .home-form-wrapper-form .home-form-wrapper-form-data .home-form-wrapper-form-data-form span {
  display: block;
  text-align: center;
  font-size: 17px;
  padding: 30px 0 10px;
  color: #666;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.home-form .home-form-wrapper-form .home-form-wrapper-form-data .home-form-wrapper-form-data-form input {
  display: block;
  width: 100%;
  border-radius: 5px;
  background-color: #eee;
  border: 0;
  padding: 15px;
  font-size: 18px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.home-form .home-form-wrapper-form .home-form-wrapper-form-data .home-form-wrapper-form-data-form button {
  display: block;
  width: 100%;
  border-radius: 40px;
  padding: 20px 15px;
  font-family: 'Open Sans';
  color: #fff;
  background-color: #704a48;
  text-align: center;
  border: 0;
  margin-top: 50px;
  font-weight: normal;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 7px 13px -5px #704a48;
}
.home-form .home-form-wrapper-form .home-form-wrapper-form-data .home-form-wrapper-form-data-form button:hover {
  opacity: 0.9;
}
.home-form .home-form-wrapper-form .home-form-wrapper-form-img {
  width: 65%;
  position: relative;
}
.home-form .home-form-wrapper-form .home-form-wrapper-form-img:after {
  width: 100%;
  height: 550px;
  position: absolute;
  left: 40px;
  top: 10px;
  border: 12px solid rgba(135, 93, 38, 0.05);
  background-color: transparent;
  content: '';
}
.home-form .home-form-wrapper-form .home-form-wrapper-form-img .home-form-wrapper-form-img-img {
  width: 526px;
  height: 381px;
  position: relative;
  left: 157px;
  top: 78px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.home-form .home-form-wrapper-form .home-form-wrapper-form-img .home-form-wrapper-form-img-img:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  background-color: rgba(112, 74, 72, 0.3);
  z-index: 2;
}
.home-form .home-form-wrapper-form .home-form-wrapper-form-img .home-form-wrapper-form-img-img svg {
  width: 68px;
  height: 68px;
  margin: auto;
  display: block;
  fill: #fff;
  position: relative;
  z-index: 3;
}
.home-form .home-form-wrapper-form .home-form-wrapper-form-img .home-form-wrapper-form-img-img strong {
  font-size: 16px;
  font-family: 'Open Sans';
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding-top: 20px;
  position: relative;
  z-index: 3;
  text-shadow: 0px 1px 3px #483635;
  font-weight: 900;
}
.home-form .home-form-wrapper-form .home-form-wrapper-form-img .home-form-wrapper-form-img-img h4 {
  margin-top: 40px;
  font-size: 25px;
  color: #fff;
  font-family: 'Open Sans';
  text-transform: uppercase;
  position: relative;
  z-index: 3;
  text-shadow: 0px 1px 3px #483635;
  font-weight: 900;
}
.home-form .home-form-wrapper-form .home-form-wrapper-form-img .home-form-wrapper-form-img-img a {
  display: inline-block;
  margin-top: 40px;
  color: #fff;
  border-bottom: 1px solid #fff;
  font-family: 'Open Sans';
  position: relative;
  z-index: 3;
}
/* Популярные категории на главной */
.home-category {
  background-color: #fff;
}
.home-category .home-category-wrapper {
  width: 1200px;
  margin: auto;
  padding: 70px 0 50px;
  margin-top: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.home-category .home-category-wrapper .home-category-wrapper-head {
  color: #bfbfbf;
  font-family: 'Open Sans';
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.home-category .home-category-wrapper .home-category-wrapper-data a {
  font-size: 25px;
  font-family: 'Open Sans';
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 20px;
}
.home-category .home-category-wrapper .home-category-wrapper-data a strong i {
  font-style: normal;
  color: #d09552;
  display: inline-block;
  padding-left: 5px;
}
/* Текст о компании на главной */
.home-company {
  position: relative;
}
.home-company .home-company-history {
  width: 1200px;
  margin: auto;
  position: relative;
}
.home-company .home-company-history .home-company-history-block {
  position: absolute;
  right: 0;
  top: -185px;
  border: 13px solid #d09552;
  height: 360px;
  width: 185px;
  text-align: center;
  padding-top: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.home-company .home-company-history .home-company-history-block strong {
  display: block;
  font-family: 'Open Sans';
  font-size: 58px;
  line-height: 60px;
}
.home-company .home-company-history .home-company-history-block strong span {
  text-transform: uppercase;
  font-size: 50px;
}
.home-company .home-company-history .home-company-history-block i {
  font-style: normal;
  font-weight: normal;
  font-family: 'Open Sans';
  color: #999;
  display: block;
  padding-top: 35px;
  font-size: 16px;
  line-height: 30px;
}
.home-company .home-company-wrapper {
  width: 780px;
  position: relative;
  padding: 70px 70px 70px 0;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.home-company .home-company-wrapper p {
  font-size: 18px;
  font-family: 'Open Sans';
  color: #999;
  line-height: 30px;
  margin-bottom: 25px;
}
.home-company .home-company-wrapper h2 {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 25px;
}
.home-company .home-company-wrapper .home-company-wrapper-link {
  padding-top: 10px;
  text-align: right;
}
.home-company .home-company-wrapper .home-company-wrapper-link a {
  display: inline-block;
  color: #999;
  font-family: 'Open Sans';
  border-bottom: 1px solid;
  font-weight: bold;
  text-transform: uppercase;
}
.home-company .home-company-wrapper .home-company-wrapper-link a:hover {
  color: #888;
}
/* Подбор кухни */
.home-select {
  background-color: #fff;
}
.home-select .home-select-wrapper {
  width: 1200px;
  margin: auto;
  padding: 100px 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.home-select .home-select-wrapper .home-select-wrapper-head {
  font-family: 'Open Sans';
  font-size: 36px;
  line-height: 50px;
  display: block;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.home-select .home-select-wrapper .home-select-wrapper-tabs {
  display: inline-block;
  margin: 20px auto;
  padding-top: 20px;
  width: auto;
}
.home-select .home-select-wrapper .home-select-wrapper-tabs label {
  padding: 10px 20px;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 500;
  color: #949494;
  border: 1px solid transparent;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}
.home-select .home-select-wrapper .home-select-wrapper-tabs label:hover span {
  color: #875d26;
  border-bottom: 1px solid;
}
.home-select .home-select-wrapper .home-select-wrapper-tabs label.active {
  border-color: #875d26;
  color: #875d26;
}
.home-select .home-select-wrapper .home-select-wrapper-tabs label.active span {
  border-bottom: 0;
}
.home-select .home-select-wrapper .home-select-wrapper-tabs label span {
  display: inline-block;
  border-bottom: 1px dashed;
  text-align: center;
}
.home-select .home-select-wrapper .home-select-wrapper-block {
  padding: 50px 0 0;
  max-width: 1000px;
  margin: auto;
}
.home-select .home-select-wrapper .home-select-wrapper-block .home-select-wrapper-block-item {
  position: relative;
}
.home-select .home-select-wrapper .home-select-wrapper-block .home-select-wrapper-block-item .swiper-container .swiper-wrapper .swiper-slide {
  height: 488px;
  background-color: #333;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.home-select .home-select-wrapper .home-select-wrapper-block .home-select-wrapper-block-item .swiper-container .swiper-wrapper .swiper-slide .home-select-wrapper-block-item-name {
  position: absolute;
  bottom: 35px;
  left: 40px;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 28px;
  font-weight: bold;
  z-index: 5;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
}
.home-select .home-select-wrapper .home-select-wrapper-block .home-select-wrapper-block-item .swiper-container .swiper-wrapper .swiper-slide .home-select-wrapper-block-item-price {
  position: absolute;
  bottom: 30px;
  right: 40px;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 22px;
  font-weight: 500;
  height: 36px;
  line-height: 19px;
  padding: 0 10px;
  background-color: rgba(208, 149, 82, 0.85);
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  z-index: 5;
}
.home-select .home-select-wrapper .home-select-wrapper-block .home-select-wrapper-block-item .swiper-button-next {
  right: -50px;
}
.home-select .home-select-wrapper .home-select-wrapper-block .home-select-wrapper-block-item .swiper-button-prev {
  left: -50px;
}
.home-select .home-select-wrapper .home-select-wrapper-data {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  max-width: 1000px;
  margin: auto;
  padding-top: 40px;
}
.home-select .home-select-wrapper .home-select-wrapper-data .home-select-wrapper-data-form button {
  display: block;
  width: 100%;
  border-radius: 40px;
  padding: 20px 35px;
  font-family: 'Open Sans';
  color: #fff;
  background-color: #704a48;
  text-align: center;
  border: 0;
  font-weight: normal;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0px 7px 13px -5px #704a48;
}
.home-select .home-select-wrapper .home-select-wrapper-data .home-select-wrapper-data-form button:hover {
  opacity: 0.9;
}
.home-select .home-select-wrapper .home-select-wrapper-data .home-select-wrapper-data-param {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 130px;
}
.home-select .home-select-wrapper .home-select-wrapper-data .home-select-wrapper-data-param .home-select-wrapper-data-param-item {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}
.home-select .home-select-wrapper .home-select-wrapper-data .home-select-wrapper-data-param .home-select-wrapper-data-param-item .home-select-wrapper-data-param-item-head {
  font-size: 18px;
  font-family: 'Open Sans';
  color: #666;
  font-weight: normal;
  margin-bottom: 14px;
  display: block;
}
.home-select .home-select-wrapper .home-select-wrapper-data .home-select-wrapper-data-param .home-select-wrapper-data-param-item .home-select-wrapper-data-param-item-data {
  font-size: 16px;
  line-height: 24px;
  padding-right: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
